[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-kasa = "==0.4.0.dev3"
paho-mqtt = "~=1.5"
apscheduler = "~=3.6"
pyyaml = "~=5.3"

[dev-packages]

[requires]
python_version = "3.9"
